*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100%;  
  font-family: monospace;
}
h1 {
    color: #333;
    text-align: center;
    margin: auto;
    font-family: sans-serif;
}
.row {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col {
    flex-basis: 30%;
    overflow: hidden;
} 
.card {
    width: 350px;
    height: 350px;
    margin:auto;
    perspective: 1000px;
    cursor: pointer;
}
.inner-box {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    transition: transform 2s;
    transform-style: preserve-3d;
}
.card-front, .card-back {
    position: absolute;
    width: 350px;
    aspect-ratio: 1/1;
    text-align: center;
    justify-content: center;
    backface-visibility: hidden;
    border-radius: 12%;
    padding-bottom: 1em;
  
}
.card-front { 
    background-position: center;
    background-size: cover;
    opacity: 0.7;   
}
.front-1 {
    background:url(coffee.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.7;   

}
.front-2{
    background:url(churros.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.7;   
    
}
.front-3{
    background:url(spaghetti.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.7;   
}
.front-4{
    background:url(olive-oil.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.7;   
}
.front-5{
    background:url(pizza.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.7;   
}
span, p{
  
    display: inline-block;
    width: 100px;
    padding: 14px 0;
    margin-top: 160px;
    border-radius: 4px;
    background: transparent;
    font-weight: bold;
    font-size: 1.5rem;
    color: azure;
    text-align: center;
    justify-content: center;
    transition: transform 2s;
}

.card-back {
    background: url(Img1.jpg);
    background-position: center;
    background-size: cover;
    transform: rotateX(180deg);
}
.card:hover .inner-box{
    transform: rotateX(-180deg);
  
}

.card:hover span{
    transform: translateY(39rem);
}
.box1{
    margin: auto;
    width: 30rem;
    aspect-ratio: 1/1;
    background: #333;
    border: 12px solid azure;
    border-radius: 2%;
    text-align: center;
    justify-content: center;
    padding: 12rem 4rem;
    color: aliceblue;
    font-family: monospace;
}
.box2{
    margin: auto;
    width: 50%;
    aspect-ratio: 18/9;
    background: #333;
    border: 12px solid azure;
    border-radius: 2%;
    text-align: center;
    justify-content: center;
    padding: 12rem 4rem;
    color: aliceblue;
    font-family: monospace;
    float: left;
}
.box3{
    margin: auto;
    font-family: monospace;
}

.box5{
    margin: auto;
    width: 50%;
    height: 50px;
    aspect-ratio: 12/1;
    float: right;
    background:none;
    border: 6px solid chocolate;
    border-radius: 2%;
    text-align: center;
    justify-content: center;
    padding: 12rem 4rem;
    font-family: monospace;
}
/* .grid {

    max-width: 100%;
    margin: 0 auto;
    gap: 1em;
    display: column;
    columns: 2;
  
} */
@supports ( grid-template-rows: masonry) {
    .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
    } 
}
.grid > * {
    break-inside: avoid;
    margin-bottom: 10em;
}
/* .featured {
      grid-column: span 2;
} */

.Title {
 font-size: 2rem;
 font-weight: bolder;
 margin-bottom: 2.5rem;
}
