/* * *::before, *::after{
    box-sizing: border-box;
    margin: 0;
} */
body{
    height: 100vh;
    display: grid;
    place-items:center;
}
.card {
    width: 400px;
  

}


.card-content {
    text-align: center;
    position: relative;
    padding: 5em;
    transition: transform 3s;
    background: lawngreen;
    transform-style: preserve-3d;
}

.card:hover .card-content {
    transform: rotateY(.5turn);

}
.card-front, .card-back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
}
.card-title {
    position:absolute;
    font-size: 2rem;
    transition: transform 1s;

}
.card-title:hover {
    transform: translateZ(200px);
}